body {
	font-family: 'Gentium Book Basic', serif;
	line-height: 1.5;
	letter-spacing: 1px;
	background-color: #FFF2D0;
	color: black;
	max-width: 1300px;
	margin: 0 auto;
}


/*JUMBOTRON*/
.jumbotron {
	margin-top: 90px;
	background-color: #e8dfb0;
}
.btn-default {
	padding: 13px;
	letter-spacing: 2px;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
}
.btn-default:hover {
	transition: background-color 0.7s ease;
	border: 1px solid black;
	background-color: #ccc2ab;
	font-weight: bold;
}
.jumbotron>h1 {
	margin-bottom: 30px;
	font-style: oblique;
	font-weight: bold;
}
.jumbotron>p {
	margin: 0;
	padding-top: 20px;
}
.jumbotron>h2 {
	margin-top: 5px;
	font-weight: bold;
}

h1, h2, h3, h4 {
	letter-spacing: 2px;
	font-weight: bold;
}

/* Book section */
#book {
	margin-top: 80px;
}
.about-book {
	text-align: justify;
	margin: 40px 25px 40px 27px;
}

/*qoutes h4*/
#book>div>div>div>h4 {
	text-align: left;
	padding-left: 50px;
	font-style: italic;
}
.quotes {
	text-align: justify;
	margin-left: 27px;
	margin-right: 25px;
	margin-top: 20px;
	font-style: italic;
}

.book-photo-ove {
	height: 300px;
	width: auto;
	margin-top: 140px;
	border-radius: 3px;
}

.amazon-btn {
	letter-spacing: 1px;
	text-decoration: underline;
}
.amazon-btn:hover {
	font-weight: bolder;
	color: #F20000;
	text-decoration: none;
}

/* Author section */
#author {
	margin-top: 80px;
}

#author>div>div>div>h3 {
	padding-bottom: 40px;
}
.about-author {
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
}
.author-photo {
	width: 400px;
	height: auto;
	margin-left: 25px;
	margin-top: 105px;
	border-radius: 3px;
}
figcaption:not(.figcaption) {
	letter-spacing: 1px;
	font-style: italic;
}
@media only screen and (min-width: 768px) and (max-width: 982px) {
	.author-photo {
		margin-top: 100px;
	}
}
@media only screen and (min-width: 712px) and (max-width: 767px) {
	.author-photo {
		margin-left: 150px;
	}
}
@media only screen and (min-width: 550px) and (max-width: 711px) {
	.author-photo {
		margin-left: 80px;
	}
}
@media only screen and (min-width: 401px) and (max-width: 476px) {
	.author-photo {
		margin: 0 auto;
		padding-top: 30px;
	}
}
@media only screen and (max-width: 400px) {
	.author-photo {
		margin: 0 auto;
		padding-top: 30px;
	}
}


/* Other books section */
#otherBooks {
	margin-top: 100px;
	margin-bottom: 80px;
}
.otherBooks-photo {
	height: 400px;
	width: auto;
	border-radius: 3px;
	padding-top: 20px;
}

@media only screen and (min-width: 770px) and (max-width: 987px) {
	.otherBooks-photo {
		height: 300px;
	}
}
@media only screen and (min-width: 712px) and (max-width: 765px) {
	.otherBooks-photo {
		padding-left: 225px;
	}
	.figcaption {
		padding-left: 225px;
	}
}
@media only screen and (min-width: 603px) and (max-width: 711px) {
	.otherBooks-photo {
		padding-left: 150px;
	}
	.figcaption {
		padding-left: 150px;
	}
}
@media only screen and (min-width: 493px) and (max-width: 602px) {
	.otherBooks-photo {
		padding-left: 90px;
	}
	.figcaption {
		padding-left: 90px;
	}
}
@media only screen and (min-width: 437px) and (max-width: 492px) {
	.figcaption {
		padding-left: 98px;
	}
}
@media only screen and (min-width: 400px) and (max-width: 492px) {
	.otherBooks-photo {
		margin: 0 auto;
	}
	.figcaption {
		padding-left: 100px;
	}
}
@media only screen and (min-width: 400px) and (max-width: 436px) {
	.figcaption {
		padding-left: 70px;
	}
}
@media only screen and (min-width: 400px) and (max-width: 435px) {
	.figcaption {
		padding-left: 52px;
	}
}
@media only screen and (max-width: 400px) {
	.otherBooks-photo {
		margin: 0 auto;
	}
	.figcaption {
		padding-left: 62px;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 374px) {
	.otherBooks-photo {
		margin: 0 auto;
	}
	.figcaption {
		margin: 0 auto;
	}
}

/* Footer */
#footer {
	border-top: 1px solid #F2EBC9;
	line-height: normal;
	padding-bottom: 2px;
	padding-top: 11px;
}
#footer p {
	font-size: 0.750em;
	  letter-spacing: 2px;
}
.heart {
	color: #F20000;
	font-size: 0.750em;
}
#footer a {
	text-decoration: underline;
	color: black;
}
#footer a:hover {
	color: #F20000;
}
